services:
  {{ homer_container_name }}:
    image: {{ homer_image }}:{{ homer_image_version }}
    container_name: {{ homer_container_name }}
    ports:
      - "{{ homer_port }}:8080"
    volumes:
      - "{{ homer_app_path }}/assets:/www/assets"
    user: 1000:1000 # default
    environment:
      - INIT_ASSETS=0 # default, requires the config directory to be writable for the container user (see user option)
    restart: unless-stopped
    networks:
      - {{ app_docker_network_name }}

networks:
  {{ app_docker_network_name }}:
    external: true
